<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Pick</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Edit: "<%= pick.text%>"</h1>

    <a href="/picks">Cancel</a>
    
    <form action="/picks/<%= pickId %>?_method=PUT" method="POST">
        <input type="text" name="text" value="<%= pick.text %>"> 
        <input type="submit" value="Edit Pick">
    </form>

</body>
</html>