<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Pick</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Create New Pick</h1>
    <a href="/picks">Cancel</a>
    
    <form action="/picks" method="POST">
        <input type="text" name="text"> 
        <input type="submit" value="Add Pick">
    </form>

</body>
</html>