<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Here's Your Pick Details</title>
</head>
<body>
    <h1>Here's Your Pick Details</h1>
    <h3><%= pick.text %></h3>
    <p><%= pick.done ? 'Done' : 'Not Done' %></p>
    <a href="/">Go Back Home</a>
    <a href="/picks">Go Back to All Picks</a>
    <a href="/picks/<%= pickId %>/edit">Edit This Pick</a>
</body>
</html