<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Marc's Out of the Parks</title>
</head>
<body>
    <h1>Marc's Out of the Parks</h1>
    <a href="/picks">Make Picks</a>
</body>
<footer id="footer">
    <p>2020 Copyright</p>
</footer>
</html>