<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>

<form id="new-form" action="/movies" method="POST">
  <label>Picker:</label>
  <input type="text" name="picker">
  <label>Team:</label>
  <input type="text" name="title">
  <label>Spread:</label>
  <input type="text" name="releaseYear">
  <label>Lock of the Week:</label>
  <input type="checkbox" name="nowShowing" unchecked>
  <input type="submit" value="Add Pick">
</form>

<%- include('../partials/footer') %>
